<form action="/collections/<%= id%>/books" method="POST">
	<input type="text" name="book[title]" placeholder="Title of the book">
	<input type="text" name="book[image]" placeholder="Cover image of the book">
	<textarea name="book[description]"></textarea>
	<button>Add book to your collection</button>
</form>
