<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		 <meta name="viewport" content="width=device-width">
		<title>Cerebrate - the best ideas in one place</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/normalize.css">
		<link rel="stylesheet" href="/stylesheets/grid.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		<div class="masthead">
			<div class="container container--no-padding">
				<div class="grid__row">
					<div class="grid__col grid__col--no-padding">
						<header class="header">

							<div class="header__presenters">
								<a class="header__logo-container" href="/">
									<img class="header__logo" src="/images/logo-new.png" alt="Cerebrate">
								</a>
								<button class="navigation__mobile-switch">
									<span class="navigation__mobile-hamburger"></span>
								</button>
							</div>
							<nav class="navigation">
								<ul class="navigation__list">
									<% if (!currentUser) { %>
										<li class="navigation__item"><a class="navigation__link" href="/register">Register</a></li>
										<li class="navigation__item"><a class="navigation__link" href="/login">Login</a></li>
									<% } else {%>
										<li class="navigation__item">
											<a class="navigation__link navigation__link--user" href="/users/<%=currentUser._id%>">
												Signed in as <strong><%= currentUser.username %></strong>
											</a>
										</li>
										<li class="navigation__item"><a class="navigation__link" href="/logout">Logout</a></li>
									<%} %>
									<li class="navigation__item"><a class="navigation__link" href="/collections">Collections</a></li>
									<li class="navigation__item"><a class="navigation__link" href="/">Home</a></li>
								</ul>
							</nav>

						</header>
					</div>
				</div>
			</div>
		</div>




