<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8">
		<title>Collection of one's favorite books</title>
		<link rel="stylesheet" href="/stylesheets/reset.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="stylesheet" href="/stylesheets/grid.css">
	</head>
	<body>

