<% include ../partials/header %>
<div class="container">
	<div class="grid__row">
		<div class="grid__col">
			<div class="form form--standalone">
				<h1 class="form__title">Log In</h1>
				<a class="link link--top-nav" href="/collections"></a>
				<form class="form__inner" action="/login" method="POST">
					<fieldset class="form__fieldset">
						<label class="form__item form__item--label" for="category[name]">Username</label>
						<input class="form__item form__item--input" type="text" name="username" placeholder="user">
						<label class="form__item form__item--label" for="category[name]">Password</label>
						<input class="form__item form__item--input" type="password" name="password" placeholder="password">
					</fieldset>
					<button class="form__item form__item--button">Submit</button>
			  </form>
			</div>
		</div>
	</div>
</div>
<% include ../partials/footer %>
