<% include ../partials/header %>
<div class="container">
	<div class="row">
		<div class="col">
			<div class="form form--standalone">
				<h1 class="form__title">Sign Up</h1>
				<form class="form__inner" method="POST">
					<fieldset class="form__fieldset">
						<label class="form__item form__item--label" for="category[name]">Username</label>
						<input class="form__item form__item--input" type="text" name="username" placeholder="username">
						<label class="form__item form__item--label" for="category[name]">Password</label>
						<input class="form__item form__item--input" type="password" name="password" placeholder="password">
						<label class="form__item form__item--label" for="category[name]">Picture</label>
						<input class="form__item form__item--input" type="text" name="image" placeholder="Profile image">
					</fieldset>
					<button class="form__item form__item--button">Sign up</button>
			  </form>
			</div>
		</div>
	</div>
</div>
<% include ../partials/footer %>
