	<% include ../partials/header %>
	<div class="row">
		<div class="col">
			<div class="form__container">
				<h1 class="heading__title vertical_margin-small">Edit your comment</h1>
				<form class="form form_rounded form padding-small" action="/collections/<%= id%>/comments/<%= comment._id%>?_method=PUT" method="POST">
					<textarea class="form__textarea form_rounded vertical_margin-small" name="comment"><%= comment.text %></textarea>
					<button class="button button__add vertical_margin-small">Edit comment</button>
			  </form>
			</div>
		</div>
	</div>
<% include ../partials/footer %>

