<% include ../partials/header %>

		<div class="row">
				<% collections.forEach(function(collection) { %>

					<div class="col collection">
						<div class="names">
							<h3 class="heading_margin-small"><%= collection.author.username %></h3>
						</div>
						<div class="profiles">
							<img class="image image_rounded" src="<%= collection.author.image%>">
							<a href="/collections/<%= collection._id%>">
								<p>
									<button class="button button__full vertical_margin-small">View the collection</button>
								</p>
							</a>
							<p>
								<%= collection.description%>
							</p>
						</div>
					</div>

				<% }); %>
		</div>

<% include ../partials/footer %>
