<% include ../partials/header %>

	<div class="container">

		<div class="row">
				<% collections.forEach(function(collection) { %>
					<div class="col">
					<h3><%= collection.author.username %>'s Book Collection </h3>
					<img class="image" src="<%= collection.author.image%>">
					<p>
						<a href="/collections/<%= collection._id%>">View the collection</a>
					</p>
					<p>
						<%= collection.description%>
					</p>
					</div>
				<% }); %>
		</div>
	</div>

<% include ../partials/footer %>
