<% include ../partials/header %>
	<div class="container">
		<div class="row">
			<div class="col">
				<form action="/collections" method="POST">
					<h1>Add collection</h1>
					<input type="text" name="collection" placeholder="Collection">
					<button>Submit</button>
				</form>
			</div>
		</div>

		<div class="row">
				<% collections.forEach(function(collection) { %>


					<div class="col collection">
						<div class="names">

							<h3 class="heading_margin-small"><%= collection.author.username %></h3>
						</div>
						<div class="profiles">

							<a class="button" href="/collections/<%= collection._id%>">
								View the collection
							</a>
							<p>
								<%= collection.description%>
							</p>

							<img class="TEMPORARY-FIX profile__image" src="<%= collection.author.image %>">

						</div>

					</div>

				<% }); %>
		</div>
	</div>

<% include ../partials/footer %>
