<% include ../partials/header %>
<div class="container">
	<div class="row">
		<div class="col">
			<div class="form__container">
				<h1 class="heading__title vertical_margin-small">Name your collection</h1>
				<form class="form form_rounded form padding-small" action="/collections" method="POST">
					<input class="form__input form_rounded vertical_margin-small" type="text" name="title" placeholder="Name your collection.">
					<button class="button button__add vertical_margin-small">Submit</button>
			  </form>
			</div>
		</div>
	</div>
</div>
<% include ../partials/footer %>
