.container {
	max-width: 1200px;
  margin: 0 auto;
  padding-top: 5rem;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}


.col {
	flex: 0 0 90%;
	padding: 5px 20px 20px 20px;
	margin-bottom: 10px;
}

	.col_center {
		justify-content: center;
	}


@media screen and (min-width: 800px) {
	.col {
		flex: 1;
	}
}
