.container {
	max-width: 97.5%;

}

.row {
	margin: 10px 10px;
}

.col {
	padding: 5px 10px 5px 10px;
}


@media screen and (min-width: 800px) {

	.col {
		flex: 1;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}


	.col {
		display: flex;
		flex-direction: column;
	}

	.col_center {
		justify-content: center;
	}

}
