/* Blocks index
==============================================================================

//Semantically generic content:
	.masthead,
	.container,
	.grid__col, .grid__row,
	.header,
	.image

//Semantically specific content:
	.profile,
*/

/* Base Styles
============================================================================== */


html {
	color: #eaeaea;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Didact Gothic', sans-serif;
}

*, :before, :after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

body {
	padding-top: 70px;
  background: url(../images/bg-1.png) no-repeat center center fixed;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

ul,
ol,
li {
	list-style: none;

}

button,
form,
input,
button:active,
input:active {
	background: transparent;
	border: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
}


/* Layout */
/* ======================================================================== */

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1300px;
}

	.container--no-padding {
		padding: 0;
	}


.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}


.grid__col {
	position: relative;
	margin: 0;
	padding: 0 15px;
	width: 100%;
	max-width: 100%;
}

	@media only screen and (min-width: 800px) {
		.grid__col--desktop-flex-1 {
			flex: 1;
		}

		.grid__col--desktop-flex-2 {
			flex: 2;
		}

		.grid__col--desktop-flex-3 {
			flex: 3;
		}

		.grid__col--desktop-flex-4 {
			flex: 4;
		}



	}

	.grid__col--no-padding {
		padding: 0;
	}





/* Specific element styles */
/* ======================================================================== */

.header {
	width: 100%;
	padding: 0 30px;
}

@media only screen and (min-width: 800px) {
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 30px 0 45px;
	}
}

	.header__presenters {
		position: relative;
		z-index: 2;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
    justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
    align-items: center;

		height: 4.375rem;
	}

		.header__logo-container {
			height: 35px;
		}
			.header__logo {
				height: 100%;
			}


/* ------- Location-specific styles -------*/

.masthead {
	box-sizing: content-box;
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 4.375rem;
	background-color: rgba(12, 12, 12, 0.8);
	border-bottom: 1px solid #717171;
}




.navigation {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: rgba(12, 12, 12, 1);
	opacity: 0;
	-webkit-transform: translateY(-100%);
	        transform: translateY(-100%);
	-webkit-transition: opacity 1s, -webkit-transform .5s ease-out;
	transition: opacity 1s, -webkit-transform .5s ease-out;
	transition: opacity 1s, transform .5s ease-out;
	transition: opacity 1s, transform .5s ease-out, -webkit-transform .5s ease-out;
}

@media only screen  and (min-width: 800px) {
	.navigation {
		position: relative;
		display: flex;
		justify-content: flex-end;
		transform: translateY(0);
		opacity: initial;
		background-color: transparent;
		border-bottom: none;
	}
}

	.navigation__mobile--open {
		opacity: .8;
		-webkit-transform: translateY(1px);
		        transform: translateY(1px);
    border-bottom: 1px solid #717171;
	}

	.navigation__list {
		background-color: initial;
		padding: 0;
		margin: 0;
	}

		.navigation__item {
			position: relative;
			padding: .9375rem .9375rem .9375rem 2.5rem;
		}


		.navigation__item:after {
			position: absolute;
			bottom: 1px;
			content: " ";
			display: block;
			width: 100%;
			height: 1px;
			background: -webkit-gradient( linear, left top, right top, from(#717171), to(#000));
			background: linear-gradient( to right, #717171, #000);
		}

		.navigation__item:last-child:after {
			display: none;
		}

		@media only screen and (min-width: 800px) {
			.navigation__list {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: reverse;
				    -ms-flex-direction: row-reverse;
				        flex-direction: row-reverse;
				padding-left: .9375rem;
			}

			.navigation__item:after {
				display: none;
			}
		}
			.navigation__link {
				font-size: 1.25rem;
			}

			.navigation__link--user {
				position: relative;
				margin-right: 10px;
			}

				.navigation__link--user:before {
					content: " ";
					position: absolute;
					left: calc(100% + 35px);
					bottom: calc(50% - 7px);
					display: block;
					width: 8px;
					height: 8px;
					border: 0 solid #eaeaea;
					border-width: 1px 1px 0 0;
					-webkit-transform: rotate(45deg);
					        transform: rotate(45deg);
					border-color: #eaeaea;
				}

				.navigation__link--user:after {
				  content: "";
				  position: absolute;
				  left: calc(100% + 15px);
				  bottom: calc(50% - 8px);
				  display: block;
				  height: 5px;
				  width: 20px;
				  border-top: 1px solid #eaeaea;
		  	}

					@media only screen and (min-width: 800px) {
						.navigation__link--user:before {
					    left: calc(50% + 10px);
					    bottom: -12.5px;
						}

						.navigation__link--user:after {
				    	left: calc(50% - 10px);
				    	bottom: -13.5px;
						}
					}

.navigation__mobile-switch {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 24px;
	height: 24px;
}

@media only screen and (min-width: 800px) {
	.navigation__mobile-switch {
		display: none;
	}
}

	.navigation__mobile-hamburger {
		position: absolute;
		left : 0;
		right: 0;
		display: block;
		margin-top: -2px;
		width: 100%;
		height: 2px;
		border-radius: 25%;
		background-color: #eaeaea;
		-webkit-transition: background-color 1s ease-out;
		transition: background-color 1s ease-out;
	}

	.navigation__mobile-hamburger.navigation__mobile-switch--open {
		background-color: transparent;
	}

	.navigation__mobile-hamburger:before {
		content: " ";
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: #eaeaea;
		border-radius: 100%;
		-webkit-transform: translateY(6px);
		        transform: translateY(6px);
		-webkit-transition: -webkit-transform .75s;
		transition: -webkit-transform .75s;
		transition: transform .75s;
		transition: transform .75s, -webkit-transform .75s;
	}

	.navigation__mobile-switch--open.navigation__mobile-hamburger:before {
		-webkit-transform:  rotate(45deg) translateY(0);transform:  rotate(45deg) translateY(0);
	}

	.navigation__mobile-hamburger:after {
		content: " ";
		left: 0;
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background: #eaeaea;
		border-radius: 100%;
		-webkit-transform: translateY(-6px);
		        transform: translateY(-6px);
		-webkit-transition: -webkit-transform .75s;
		transition: -webkit-transform .75s;
		transition: transform .75s;
		transition: transform .75s, -webkit-transform .75s;
	}

	.navigation__mobile-switch--open.navigation__mobile-hamburger:after {
		-webkit-transform: rotate(-45deg) translateY(0);transform: rotate(-45deg) translateY(0);
	}




.profile {
	margin-top: 2.5rem;
	background: rgba(12, 12, 12, .5);
	border: 1px solid #717171;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

	.profile__body {
		padding: 30px 15px;
	}

	.profile__header {
		padding: 15px 15px 30px 15px;
		background-color: #000;
		box-shadow: 0 3px 3px -3px #000;
		overflow-y: auto;
	}

	@media only screen and (min-width: 800px) {
		.profile__header {
			padding: 30px;
			height: 100%;
			box-shadow: 4px 0px 3px -3px #717171;
		}
	}

	.profile__image-wrapper {
		position: relative;
		padding-bottom: 100%;
		width: 100%;
		height: 0;
	}

		.profile__image {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 2;
			border-radius: 5px;
		}

	.profile__name {
		margin-top: 30px;
		text-align: center;
	}




.books {
	margin-top: 30px;
	background-color: rgba(12, 12, 12, .8);
}

	.books__wrapper {
		padding: 0 0 30px 0;

 }

	.books__ideas {

	}

	.books__header {

	}

		.books__title-wrapper {
			padding: 30px;
	  }

  	.books__title {
	    height: 48px;
  		line-height: 32px;
  	}

	  	.books__title--ideas {
				margin: 30px auto;
		  }


	.books__image-wrapper {
		position: relative;
		margin: 30px 0 30px 30px;
		width: 60%;
		padding-bottom: 75%;
		height: 0;
	}

	 .books__image {
	 		position: absolute;
		 	width: 100%;
		 	height: 100%;
		 	border-radius: 5px;
	  }


.books__ideas--synopsis {
			padding: 30px 15px;
  	}




.list {
		padding-left: 15px;
	}

	.list__title {
		vertical-align: top;
	}

		.list__title--align-top {
			display: flex;
			align-items: flex-end;
			line-height: 52px;
			height: 36px;
		}

		.list__item {
			list-style: disc;
		}

		.list__item:after {
				content: " ";
				display: block;
				margin-top: 10px;
				width: 100%;
				height: 1px;
				background: linear-gradient( to right, #717171, #000);
				border-radius: 100vh;
			}

		@media only screen and (min-width: 800px) {
			.list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			.list__item {
				margin: 0 15px;
				flex: 0 0 40%;
			}
		}

			.list__item--content {
				font-weight: normal;
			}

			@media only screen and (min-width: 1200px) {
				.list__item--content {
					font-size: 1.25rem;

				}
			}














.link {
		display: inline-block;
    padding: 7.5px 7.5px;
    background: transparent;
    font-family: inherit;
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

	.link--equal- {
		width: 7.5rem;
	}


.button {
	display: inline-block;
  padding: 7.5px 7.5px;
 	border-radius: 100px;
 	border: 1px solid #eaeaea;
 	box-shadow: 0 0 10px -1px #eaeaea;
  background: transparent;
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

	.button--delete {
	  border: 1px solid #6b0808;
	  box-shadow: 0 0 10px 2px #6b0808;
	}






















.comment {
  border: 1px solid #717171;
	background: rgba(13, 12, 13, 0.6);
}

	.comment__title {
		padding: 20px 20px 20px 0;
		margin-bottom: -10px;
		color: #fff;
		background: rgba(13, 12, 13, 0.9);
	}

	.comment__date {
		font-family: sans-serif;
		font-size: .875rem;
	}

	.comment__content {
		padding-top: 15px;
	}



	.comments__buttons {
		display: flex;
		justify-content: flex-end;
	}








	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
/*		box-shadow: 0 0 5px 2.5px #ccc;*/
		padding: 10px;
	}

		.form__container {
			display: flex;
			flex-direction: column;
		}

		.form__input {
			width: 12.5rem;
			padding: 5px;
			border: 1px solid #ccc;
		}

		.form__ideas__container {
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 20px;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		.form__textarea {
			width: 12.5rem;
			min-height: 100px;
			padding: 5px;
			border: 1px solid #ccc;
		}

		.form__button {
				width: 8rem;
				display: block;
				margin: 5px auto;
			}

			.form_rounded {
				border-radius: 5px;
			}



