
/* ======= "-small" - small modifier value ======= */
/* ======= "_medium" - medium modifier value ======= */
/* ======= "_large" - big modifier value ======= */


body {
	font-family: 'Didact Gothic', sans-serif;
}


/* ======= Block - Navigation ======= */


	.navigation__ul {
		width: 100%;
		margin-top: 3rem;
		border-top: 1px solid #fff;
	}

	.navigation__li {
		text-align: center;
		padding: 25px 10px;
	}

	.navigation__mobile-closed:before {
	  content: "";
	  position: absolute;
	  top: 0.75rem;
	  left: 0.5rem;
	  width: 1rem;
	  height: 0.125rem;
	  border-top: 0.375rem double #fff;
	}

	.navigation__mobile-closed:after {
	  content: "";
	  position: absolute;
	  top: 1.125rem;
	  left: 0.5rem;
	  width: 1rem;
	  height: 0.125rem;
	  border-bottom: 0.125rem solid #fff;
	}

	.navigation__mobile-open:before {
		border-top: 0.1875rem solid #fff;

		transform: rotate(45deg) translate(0, 5.125px);
		-webkit-transform: rotate(45deg) translate(0, 5.125px);
		transition: transform 0.5s ease-in-out;
		-webkit-transition: -webkit-transform 0.5s ease-in-out;
	}

	.navigation__mobile-open:after {
		border-bottom: 0.1875rem solid #fff;
		transform: rotate(-45deg) translate(0, -5.125px);
		-webkit-transform: rotate(-45deg) translate(0, -5.125px);
		transition: transform 0.5s ease-in;
		-webkit-transition: -webkit-transform 0.5s ease-in-out;
	}

	.navigation_display {
		display: none;
	}


/* ======= Block - Header ======= */
.header {
	position: absolute;
	width: 100%;
	min-height: 3rem;
	padding: 10px;
}

	.header_background {
	background: rgb(13,13,13); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(5,5,5,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(5,5,5,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(5,5,5,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0d0d', endColorstr='#050505',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}




/* ======= Block - Authentication ======= */

	.authentication__container {
    top: 1rem;
    right: 1rem;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
	}

		.authentication__user {

			margin-right: 10px;
		}


/* ======= Block - Profile ======= */

.profile__presentation {
	 display: flex;
   flex-direction: row-reverse;
   justify-content: flex-end;
}

.profile__body {
	max-width: 250px;
}

	.profile__name {
		margin-left: 10px;
		max-width: 100px;
	}

		.profile__presentation-vertical {
				flex-direction: column;
			}


/* ======= Block - Book ======= */

	.book {
		box-shadow: 0 0 5px 2.5px #eee;
	}


	.book__buttons {
    margin-top: 20px;
    padding: 5px 0;
    border-top: 1px solid #eee;
	}


/* ======= Block - Comments ======= */

.comments {
	flex-direction: column;
	flex: 0 0 90%;
	padding: 15px;
	box-shadow: 0 0 5px 2.5px #eee;
}

	.comments__title {
		flex: 0 0 90%;
		padding: 20px 20px 20px 20px;
		background-color: #000;
		color: #fff;
		box-shadow: 0 0 2px 2.5px #000;
	}

	.comments__buttons {
		display: flex;
		justify-content: flex-end;
	}



/* ======= Block - Image ======= */
.image {
	width: 250px;
	width: 250px;
}

	.image__thumbnail {
		width: 50px;
		height: 50px;
	}

	.image_rounded {
		border-radius: 5px;
	}

	.image_circular {
		border-radius: 100%;
	}

/* ======= Block - Button ======= */
.button {
	width: 8rem;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #239239;
}

	.button__authentication {
    padding: 5px 10px 7.5px 10px;
    border-radius: 5px;
	}

	.button__add {
		width: 8rem;
	}

	.button__edit {
		width: 5rem;
	}

	.button__delete {
		width: 5rem;
		background-color: red;
	}

	.button_margin-horizontal {
		margin-right: 10px;
	}

	.button_margin-vertical {
		margin-top: 10px;
		margin-bottom: 10px
	}

	.button--horizontal {
		display: inline-block;
	}

/* ======= Block - Form ======= */

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 0 0 5px 2.5px #ccc;
		padding: 10px;
	}

		.form__container {
			display: flex;
			flex-direction: column;
		}

		.form__input {
			width: 12.5rem;
			padding: 5px;
			border: 1px solid #ccc;
		}

		.form__ideas__container {
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 20px;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		.form__textarea {
			width: 12.5rem;
			min-height: 100px;
			padding: 5px;
			border: 1px solid #ccc;
		}

		.form__button {
				width: 8rem;
				display: block;
				margin: 5px auto;
			}

			.form_rounded {
				border-radius: 5px;
			}



/* ======= Block - Heading ======= */

	.heading__title {
		font-weight: bold;
		font-size: 1.125rem;
	}

		.heading_margin-small {
			margin: 10px 0;
		}

		.heading_margin-vertical {
			margin-top: 10px;
			margin-bottom: 10px
		}

		.heading_center {
			text-align: center;
		}

		.heading_size-large {
			font-size: 1.5rem;
		}

		.heading_white {
			color: #fff;
		}

/* ======= Block - Paragraph ======= */

.paragraph {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: justify;
}

/* ======= Modifier - Margin ======= */

	.vertical_margin-mini {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.vertical_margin-small {
		margin-top: 10px;
		margin-bottom: 10px;
	}

/* ======= Modifier - Padding ======= */

.padding-small {
		padding: 10px 0;
	}

/* ======= Modifier - Padding ======= */

.text_justified {
	text-align: justify;
}




@media screen and (min-width: 800px) {

	.container {
		padding-top: 88px;
		max-width: 1050px;
	}

	.header__container {
		max-width: 960px;
	}

	/* ======= Block - Collection ======= */
	.collection {
		flex: none;
		flex-basis: 25%;
	}

	/* ======= Block - Image ======= */
	.image {
		width: 200px;
		height: 200px;
		margin: 0;
	}

		.image__thumbnail {
			width: 75px;
			height: 75px;
		}


	/* ======= Block - Form ======= */

	.form__ideas__container {
		display: flex;
		text-align: center;
	}



	/* ======= Block - Profile ======= */

	.profile {
		display: flex;
		justify-content: space-between;
		flex: 0 0 90%;
	}

		.profile__presentation {
			display: flex;
			align-items: flex-end;
	    flex: 0 0 30%;
		}


		.profile__body {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			flex: 0 0 60%;
			max-width: none;
		}



	/* ======= Block - Book ======= */

	.book {
		justify-content: space-between;
		flex: 0 0 90%;
		padding: 15px;
		box-shadow: 0 0 5px 2.5px #eee;
	 }

	.book__presentation {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		flex: 1;
	}

	.book__body {
		display: flex;
		flex-direction: column;
		flex: 4;
		padding-left: 20px;
	}



		.book__ideas {
			text-align: left;
			flex: 1;
		}



  .book__image {
		width: 200px;
		height: 250px;
  }

/* ======= Block - Button ======= */

	.button {
		width: 5rem;
		font-weight: bold;
	}

		.button__full {
			width: 200px;
		}

		.button__add {
			width: 6rem;
		}

		.button_margin-horizontal {
			margin-right: 10px;
		}

		.button_margin-vertical {
			margin-top: 0;
			margin-bottom: 0;
		}



} /* ======== media up to 800px ======== */


@media screen and (min-width: 960px) {

	.header {
		display: flex;
		align-items: center;
	}

	.header__container {
		display: flex;
		align-items: center;
		flex: 0 0 1200px;
		margin: 0 auto;
	}

	.navigation {
		display: flex;
		flex: 0 0 100%;
	}

	.navigation__ul {
		margin-top: 0;
		border-top: none;
	}

		.navigation__li {
			padding: 10px 5px;
			margin: 0 5px;

		}

	.navigation_display {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		align-items: center;
		flex: 0 0 60%;
	}

	.navigation__hamburger:before,
	.navigation__hamburger:after {
		display: none;
	}

	.title {
		flex: 0 0 30%;
		align-self: center;
	}

}

@media screen and (min-width: 1300px) {
	.container,
	.header__container {
		width: 1200px;
	}

@media screen and (min-width: 1600px) {
	.container,
	.header__container  {
		width: 1300px;
	}

}
