
/* ======= "-small" - small modifier value ======= */
/* ======= "_medium" - medium modifier value ======= */
/* ======= "_large" - big modifier value ======= */


body {
	font-family: 'Didact Gothic', sans-serif;
}



/* ======= Block - Header ======= */
.header {
	height: 3rem;
	padding: 10px;
}

	.header_background {
		background: rgb(13,13,13); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(5,5,5,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(5,5,5,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(5,5,5,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0d0d', endColorstr='#050505',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}


/* ======= Block - Profile ======= */

.profile__presentation {
	 display: flex;
   flex-direction: row-reverse;
   justify-content: flex-end;
}

	.profile__name {
		margin-left: 10px;
		max-width: 100px;
	}

		.profile__presentation-vertical {
				flex-direction: column;
			}



/* ======= Block - Comments ======= */

.comments {
	flex-direction: column;
	flex: 0 0 90%;
	padding: 5px 20px 20px 20px;
	box-shadow: 0 0 5px 2.5px #eee;
}

	.comments__title {
		flex: 0 0 90%;
		margin: 10px 0 5px;
		padding: 5px 20px 20px 20px;
		background-color: #000;
		color: #fff;
		box-shadow: 0 0 2px 2.5px #000;
	}



/* ======= Block - Image ======= */
.image {
	width: 250px;
	width: 250px;
}

	.image__thumbnail {
		width: 50px;
		height: 50px;
	}

	.image_rounded {
		border-radius: 5px;
	}

	.image_circular {
		border-radius: 100%;
	}

/* ======= Block - Button ======= */
.button {
	width: 8rem;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #239239;
}

	.button__add {
		width: 8rem;
	}

	.button__delete {
		background-color: red;
	}

	.button_margin-horizontal {
		margin-right: 0;
	}

	.button_margin-vertical {
		margin-top: 10px;
		margin-bottom: 10px
	}

/* ======= Block - Form ======= */

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 0 0 5px 2.5px #ccc;
		padding: 10px;
	}

		.form__container {
			display: flex;
			flex-direction: column;
		}

		.form__input {
			width: 12.5rem;
			padding: 5px;
			border: 1px solid #ccc;
		}

		.form__textarea {
			width: 12.5rem;
			min-height: 100px;
			padding: 5px;
			border: 1px solid #ccc;
		}

		.form__button {
				width: calc(8rem);
				display: block;
				margin: 5px auto;
			}

			.form_rounded {
				border-radius: 5px;
			}




/* ======= Block - Heading ======= */

	.heading__title {
		font-weight: bold;
		font-size: 1.125rem;
	}

		.heading_margin-small {
			margin: 10px 0;
		}

		.heading_margin-vertical {
			margin-top: 10px;
			margin-bottom: 10px
		}

		.heading_center {
			text-align: center;
		}

		.heading_size-large {
			font-size: 1.25rem;
		}

		.heading_white {
			color: #fff;
		}

/* ======= Block - Paragraph ======= */

.paragraph {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: justify;
}

/* ======= Modifier - Margin ======= */

	.vertical_margin-mini {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.vertical_margin-small {
		margin-top: 10px;
		margin-bottom: 10px;
	}

/* ======= Modifier - Padding ======= */

.padding-small {
		padding: 10px 0;
	}

/* ======= Modifier - Padding ======= */

.text_justified {
	text-align: justify;
}




@media screen and (min-width: 800px) {

	.container {
		max-width: 1050px;
	}

	/* ======= Block - Collection ======= */
	.collection {
		flex: none;
		flex-basis: 25%;
	}

	/* ======= Block - Image ======= */
	.image {
		width: 200px;
		height: 200px;
		margin: 0;
	}

		.image__thumbnail {
			width: 75px;
			height: 75px;
		}


	/* ======= Block - Profile ======= */

	.profile {
		display: flex;
		justify-content: space-between;
		flex: 0 0 90%;
	}

		.profile__presentation {
			display: flex;
			align-items: flex-end;
			flex: 0 0 20%;
		}


		.profile__body {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			flex: 0 0 70%;
		}



	/* ======= Block - Book ======= */

	.book {
		display: flex;
		justify-content: space-between;
		flex: 0 0 90%;
		box-shadow: 0 0 5px 2.5px #eee;
	 }

	.book__presentation {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		flex: 1;
	}

	.book__body {
		display: flex;
		flex-direction: column;
		flex: 4;
		padding-left: 20px;
	}

		.book__description {
			text-align: left;
			flex: 1;
		}

		.book__buttons {
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			flex: 1;
		}

  .book__image {
		width: 200px;
		height: 250px;
  }

/* ======= Block - Button ======= */
	.button {
		width: 4rem;
		font-weight: bold;
	}

		.button__full {
			width: 200px;
		}

		.button__add {
			width: 6rem;
		}


		.button_margin-horizontal {
			margin-right: 10px;
		}

		.button_margin-vertical {
			margin-top: 0;
			margin-bottom: 0;
		}
} /* ======== media up to 800px ======== */



@media screen and (min-width: 1300px) {
	.container{
		max-width: 1200px;
	}

@media screen and (min-width: 1600px) {
	.container{
		max-width: 1300px;
	}

}
