<% include ../partials/header %>

	<div class="grid__row">
		<div class="grid__col">
			<a class="button" href="/collections/<%= id%>">Go back</a>
			<h1 class="heading__title vertical_margin-small">Edit category name</h1>

			<form class="form form_rounded" action="/collections/<%= id %>/categories/<%= category._id %>?_method=PUT" method="POST">
				<input class="form__input form_rounded vertical_margin-small" type="text" name="name" value="<%= category.name%>">

				<button class="button form__button button__add">Submit changes</button>
			</form>
		</div>
	</div>

<% include ../partials/footer %>
