<% include ../partials/header %>
<div class="container">
	<div class="grid__row">
		<div class="grid__col">
			<div class="form form--standalone">
			<a class="link" href="/collections/<%= id %>">Go to collection</a>
			<header class="form__header">
				<h1 class="form__title">Add ideas / step 1.</h1>
				<h2 class="form__subtitle">Create new category of ideas</h2>

			</header>
				<form class="form__inner -js-form--submit" action="/collections/<%= id %>/categories" method="POST">
					<p>What will these ideas be about?</p>
					<fieldset class="form__fieldset">
						<legend>Add a category of ideas</legend>
						<label class="form__item form__item--label" for="category[name]">Category name:</label>
						<input class="form__item form__item--input" type="text" name="category[name]" placeholder="Name">
					</fieldset>
					<button class="form__item form__item--button">Submit</button>
			  </form>
			</div>
		</div>
	</div>
</div>
<% include ../partials/footer %>
