<% include ../partials/header %>
	<div class="row">
		<div class="col">
			<a class="button" href="/collections/<%= id%>">Go back</a>
			<div class="form__container">
				<% if (!category_id) { %>
					<h1 class="">Add a category to your collection</h1>
					<form class="form form_rounded form padding-small" action="/collections/<%= id %>/categories" method="POST">
						<input class="form__input form_rounded vertical_margin-small" type="text" name="category[name]" placeholder="Name of the category">
						<button class="button button__add vertical_margin-small">Add the category</button>
				  </form>
			  <%} %>

			</div>
		</div>
	</div>
<% include ../partials/footer %>
