<% include ../partials/header %>

	<div class="row">
		<div class="col">
	  	<h2 class="heading__title vertical_margin-small"> Add source for new ideas set about <strong><%= category.name%></strong></h2>
	  	<p>Before writing down a set of ideas, provide their source. Ideas are organized into sets and each set corresponds to the source of ideas. The source can be a person, a book, podcast, movie, a scientific theory, you...or anything else, depending on where the ideas came from.</p>

			<div class="form__ideas__container">
				<form class="form form_rounded" action="/collections/<%= collection._id %>/categories/<%= category._id %>/clusters" method="POST">
					<input class="form__input form_rounded vertical_margin-small" type="text" name="source[name]" placeholder="Name of the source">
					<input class="form__textarea form_rounded vertical_margin-small" type="text" name="source[label]" placeholder="Label for the source"></input>
					<input class="form__textarea form_rounded vertical_margin-small" type="text" name="source[image]" placeholder="Image for the source"></input>
					<button class="">Submit</button>
				</form>
			</div>

		</div>
	</div>

<% include ../partials/footer %>
