<% include ../partials/header %>
<div class="container">
	<div class="grid__row">
		<div class="grid__col">
			<div class="form">
				<form class="form__inner" action="/collections/<%= collection._id %>/categories/<%= category._id %>/clusters" method="POST">
					<a class="link" href="/collections/<%= collection._id %>">Go back</a>
					<h2>Create new cluster of ideas about <%= category.name%></h2>
	  			<p>Within a category, ideas are organized or grouped into clusters. Clusters are created around the source or origin of these ideas.</p>
	  			<p> The source can be a person, a book, podcast, a scientific theory...or anything else, including yourself. Where do these ideas come from?</p>
					<fieldset class="form__fieldset">
						<legend> Source of ideas - new cluster </legend>
						<label class="form__item form__item--label" for="source[name]">Name of the source:</label>
						<input class="form__item form__item--input" type="text" name="source[name]" placeholder="Name">
						<label class="form__item form__item--label" for="source[name]">Label for the source:</label>
						<input class="form__item form__item--input" type="text" name="source[label]" placeholder="Book? Podcast?..."></input>
						<label class="form__item form__item--label" for="source[name]">Image of the source</label>
						<input class="form__item form__item--input" type="text" name="source[image]" placeholder="Image link"></input>
					</fieldset>

					<button class="form__item form__item--button">Submit</button>
				</form>
			</div>

		</div>
	</div>
</div>

<% include ../partials/footer %>
